<task>
	<dimensions x_dim="100" t_dim="3600" p_dim="100000" />
	<geometry>
		<sizes sx="100" sy="100" sz="10" />
		<r1 x="50" y="50" z="0" />
		<alpha value="1" />
		<rw value="0.1" />	
	</geometry>
	<viscosity value="1" />
	<permeability value="1" />
	<rate value="10" />
	<indexes K="10" M="50" N="20" L="50" I="1" />
	<grid nx="20" ny="20" nz="10" />
	<xi_c value="2000" />
</task>
